<div class="footer">
  <div class="footer-wrapper">
    <div class="social-media w-100 px-3 margin-auto mb-4">
      <ul class="d-flex justify-content-center p-0">
        <li class="px-2">
          <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
        </li>
        <li class="px-2">
          <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
        </li>
        <li class="px-2">
          <a href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </li>
        <li class="px-2">
          <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
        </li>
        <li class="px-2">
          <a href="#"><fa-icon [icon]="faYoutube"></fa-icon></a>
        </li>
        <li class="px-2">
          <a href="#"><fa-icon [icon]="faAndroid"></fa-icon></a>
        </li>
      </ul>
    </div>
    <div class="main-footer">
      <div class="row px-3 mt-md-3 mt-5 flex-wrap">
        <div class="col-lg-4">
          <h2 class="title">&lt;GEEKS JUNCTION&#62;</h2>
          <div class="d-flex justify-content-lg-start justify-content-center location">
            <div>
              <fa-icon [icon]="faLocation"></fa-icon>
            </div>
            <div class="data ms-3">
              <p>
                19762 Ethan Flats Suite 669, Hermannfort,
              </p>
              <p>
                52288-7223, USA
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-lg-start justify-content-center email">
            <div>
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </div>
            <div class="data ms-3">
              <p>support@geeksjunction.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 mt-sm-4 mt-3 footer-right">
          <div class="d-flex">
            <div class="links">
              <ul>
                <li class="list-title">Company</li>
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Careers</a>
                </li>
                <li>
                  <a href="#">In Media</a>
                </li>
                <li>
                  <a href="#">Contact Us</a>
                </li>
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
                <li>
                  <a href="#">Copyright</a>
                </li>
                <li>
                  <a href="#">Policy</a>
                </li>
              </ul>
            </div>
            <div class="links">
              <ul>
                <li class="list-title">
                  Learn
                </li>
                <li>
                  <a href="#">Algorithms</a>
                </li>
                <li>
                  <a href="#">Data Structures</a>
                </li>
                <li>
                  <a href="#">SDE Cheat Sheet</a>
                </li>
                <li>
                  <a href="#">Machine Learning</a>
                </li>
                <li>
                  <a href="#">CS Subjects</a>
                </li>
                <li>
                  <a href="#">Video Tutorials</a>
                </li>
                <li>
                  <a href="#">Courses</a>
                </li>
              </ul>
            </div>
            <div class="links">
              <ul>
                <li class="list-title">
                  News
                </li>
                <li>
                  <a href="#">Top News</a>
                </li>
                <li>
                  <a href="#">Technology</a>
                </li>
                <li>
                  <a href="#">Work & Career</a>
                </li>
                <li>
                  <a href="#">Business</a>
                </li>
                <li>
                  <a href="#">Finance</a>
                </li>
                <li>
                  <a href="#">Lifestyle</a>
                </li>
                <li>
                  <a href="#">Knowledge</a>
                </li>
              </ul>
            </div>
            <div class="links">
              <ul>
                <li class="list-title">
                  Languages
                </li>
                <li>
                  <a href="#">Python</a>
                </li>
                <li>
                  <a href="#">Java</a>
                </li>
                <li>
                  <a href="#">CPP</a>
                </li>
                <li>
                  <a href="#">Golang</a>
                </li>
                <li>
                  <a href="#">C#</a>
                </li>
                <li>
                  <a href="#">SQL</a>
                </li>
                <li>
                  <a href="#">Kotlin</a>
                </li>
              </ul>
            </div>
            <div class="links">
              <ul>
                <li class="list-title">
                  Web Development
                </li>
                <li>
                  <a href="#">Web Tutorials</a>
                </li>
                <li>
                  <a href="#">Django Tutorial</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Javascript</a>
                </li>
                <li>
                  <a href="#">Bootstrap</a>
                </li>
                <li>
                  <a href="#">React Js</a>
                </li>
                <li>
                  <a href="#">Node Js</a>
                </li>
              </ul>
            </div>
            <div class="links">
              <ul>
                <li class="list-title">
                  Contribute
                </li>
                <li>
                  <a href="#">Write an Article</a>
                </li>
                <li>
                  <a href="#">Improve an Article</a>
                </li>
                <li>
                  <a href="#">Pick Topics to Write</a>
                </li>
                <li>
                  <a href="#">Write Interview Experience</a>
                </li>
                <li>
                  <a href="#">Internships</a>
                </li>
                <li>
                  <a href="#">Video Internship</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
