<nav class="second-nav sticky-top">
  <div class="nav-container">
    <button class="left"  (click)="scrollLeft()">
      <fa-icon [icon]="faAngleLeft"></fa-icon>
    </button>
    <div class="button-container">
      <button class="ds px-3 py-2">
        Data Structure
      </button>
      <button class="ds px-3 py-2 ms-3">
        Algorithms
      </button>
      <button class="ds px-3 py-2 ms-3">
        Interview Preparation
      </button>
      <button class="ds px-3 py-2 ms-3">
        Topic-wise Practice
      </button>
      <button class="ds px-3 py-2 ms-3">
        C++
      </button>
      <button class="ds px-3 py-2 ms-3">
        Java
      </button>
      <button class="ds px-3 py-2 ms-3">
        Python
      </button>
      <button class="ds px-3 py-2 ms-3">
        Competitive Programming
      </button>
      <button class="ds px-3 py-2 ms-3">
        Machine Learning
      </button>
      <button class="ds px-3 py-2 ms-3">
        HTML
      </button>
      <button class="ds px-3 py-2 ms-3">
        SDE Sheet
      </button>
    </div>
    <button class="right" (click)="scrollRight()">
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
  </div>
</nav>
