<div class="sidebar">
  <div class="links">
    <ul>
      <li>
        <a href="#" class="active">Data Structures</a>
      </li>
      <li>
        <a href="#">Introduction to Data Structures</a>
      </li>
      <li>
        <a href="#">What is Data Structure: Types, Classifications and Applications</a>
      </li>
      <li>
        <div class="accordion accordion-flush" id="accordionElement">
          <a href="#" id="flush-headingOne" class="accordion-button collapsed accordion-header p-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Overview of Data Structures
          </a>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushElement">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
          </div>
        </div>
      </li>
      <li>
        <div class="accordion accordion-flush" id="accordionElement">
          <a href="#" id="flush-headingTwo" class="accordion-button collapsed accordion-header p-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Different Types of Data Structures
          </a>
          <div  id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushElement">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
